body {
    margin: 0;
}

:root {
    --main-bg-color: #202124;
    --active-color: #303134;
    --border-color: #5f6368;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.basic-nav {
    list-style: none;
    display: flex;
    margin: 10px 20px;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
}

.basic-nav li {
    padding: 10px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-nav a {
    text-decoration: none;
}

.basic-nav a:hover {
    text-decoration: underline;
}
